.block3{
  padding-bottom: 150px;
}
//=====================================
.btn3{
  border-radius: 4px !important;
  border-color: #ffffff !important;
  background-color: transparent !important;
  &.uk-active,
  &:hover{
    background-color: #f57014 !important;
    border-color: #f57014 !important;
  }
}
//=====================================

//=====================================

//=====================================

//=====================================