.box2{
  padding: 20px 30px;
  img{
    width: 35px;
  }
  p{
    font-size: 15px;
  }
}
//=====================================
.block1{
  >div{
    &:nth-child(2n){
      .box2{
        background-color: #f9f9f9;
      }
    }
  }
}
//=====================================
.title1{
  font-size: 18px;
  color: #444444;
}
//=====================================
.box3{
  i.fa{
    width: 88px;
    height: 88px;
    background-color: #eeedec;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #f57014;
  }
}
//=====================================
.title2{
  border-bottom: 1px solid #f57014;
  padding-bottom: 15px;
  font-size: 22px;
}
//=====================================
.desc1{
  font-size: 15px;
}
//=====================================
.title3{
  font-size: 16px;
  b{
    color: #f57014;
  }
}
//=====================================
.block2{
  background-color: #f57014;
}
//=====================================
.desc2{
  font-size: 15px;
  color: #fdddc8;
  margin: 0;
}
//=====================================
.counter-value{
  font-size: 62px;
  line-height: 62px;
  color: #FFFFFF;
}
//=====================================
.title4{
  font-size: 18px;
}
//=====================================
.list1{
  font-size: 15px;
  li{
    &:nth-child(n+2){
      margin-top: 5px;
    }
  }
}